@model List<BlogInstance.DataAccess.Entities.Article>

@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="girisdiv">
        <div class="row">
            <div class="col-2"> </div>
            <div class="col-5" id="gdiv-col-5">
                <div class=" row gdivh2"><h2>Where good ideas find you</h2></div>
                <div class=" row gdivspc"></div>
                <div class=" row"><h3 class="gdivh3">Read and share new perspectives on just about any topic.<br /> Everyone’s welcome. <a href="/AboutUsPage.html"><b><i>Learn more.</i></b></a></h3></div>
                <div class="row" >
                    <a class="gdivh3 gdivbutton" role="button" style="text-align: center" asp-area="" asp-controller="Users" asp-action="Create">Get Started</a>
                </div>
            </div>
            <div class="col-3 miro"> <img src="https://miro.medium.com/max/578/1*qcAZgT4Sk37MPSTGBH2KUw.png" />   </div>
            <div class="col-2">  </div>
        </div>
    </div>
    <div class="gdivspc">
        <div class="container">
            <div class=" row">
                <div class="col-12"align="left">
                    <svg width="30" height="30" viewBox="0 0 20 30" fill="none">
                        <circle cx="15" cy="15" r="9.5" stroke="#f00"></circle>
                        <path d="M5.46 18.36l4.47-4.48M9.97 13.87l3.67 3.66M13.67 17.53l5.1-5.09M16.62 11.6h3M19.62 11.6v3" stroke="#f00"></path>
                    </svg><p style="color: black; "><h5><b>Trending on Medium</b></h5></p>
                    <hr/>

                    @*@Html.Partial("_PartialViewForNotes")*@


                    @*foreach iplemente edilecek*@
                    <div class=" row">
                        @await Component.InvokeAsync("TopArticleList")
                    </div>


                </div>
            </div>
        </div>
 
        
        <div class="gdivspc"></div>
        <div class="row">
            <div class="col-2"></div>
            
            <div class="col-5">
                <h5 class="font-weight-bold spanborder"><span>All Stories</span></h5><hr />
                <div class="row">
                    @await Component.InvokeAsync("GetArticleList")
                </div>
                @*<div class="row">
            <div class="col-8">
                <div class="modal-footerbydem">

                    Yazılar Başlık
                </div>
                <div class="modal-contentbydem">
                    yazılar content
                </div>
                <div class="card-footer">
                    <span class="card-linkby">Okunma sayısı</span>
                    <span class="card-linkby">Another link</span>

                </div>
            </div>
            <div class="col-4">
                resim
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="modal-footerbydem">

                    Yazılar Başlık
                </div>
                <div class="modal-contentbydem">
                    yazılar content
                </div>
                <div class="card-footer">
                    <span class="card-linkby">Okunma sayısı</span>
                    <span class="card-linkby">Another link</span>

                </div>
            </div>
            <div class="col-4">
                resim
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="modal-footerbydem">

                    Yazılar Başlık
                </div>
                <div class="modal-contentbydem">
                    yazılar content
                </div>
                <div class="card-footer">
                    <span class="card-linkby">Okunma sayısı</span>
                    <span class="card-linkby">Another link</span>

                </div>
            </div>
            <div class="col-4">
                resim
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="modal-footerbydem">

                    Yazılar Başlık
                </div>
                <div class="modal-contentbydem">
                    yazılar content
                </div>
                <div class="card-footer">
                    <span class="card-linkby">Okunma sayısı</span>
                    <span class="card-linkby">Another link</span>

                </div>
            </div>
            <div class="col-4">
                resim
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="modal-footerbydem">

                    Yazılar Başlık
                </div>
                <div class="modal-contentbydem">
                    yazılar content
                </div>
                <div class="card-footer">
                    <span class="card-linkby">Okunma sayısı</span>
                    <span class="card-linkby">Another link</span>

                </div>
            </div>*@
                @*<div class="col-4">
            resim
        </div>*@
            </div>
            <div class="col-3">
                <h5 class="font-weight-bold spanborder"><span>All Topics</span></h5><hr />
                @await Component.InvokeAsync("CategoryList")

            </div>
        </div>
    </div>

   

    <div class="col-2"></div>


</div>

