@model BlogInstance.DataAccess.Entities.User
 
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-85 p-b-20">
            <form asp-action="Index" asp-controller="Login" class="login100-form validate-form">

                <span class="login100-form-title p-b-70">
                    Sign up with email
                </span>
                <span class="login100-form-title p-b-70">
                    Enter the email address associated with your account, and we’ll send a magic link to your inbox.
                </span>

                <div class="wrap-input100 validate-input m-t-85 m-b-35" data-validate="Enter username">
                    <input class="input100" type="text" asp-for="@Model.UserEmail">
                    <span class="focus-input100" data-placeholder="Your Email"></span>
                </div>

                <!--<div class="wrap-input100 validate-input m-b-50" data-validate="Enter password">
                    <input class="input100" type="password" name="pass">
                    <span class="focus-input100" data-placeholder="Password"></span>
                </div>-->

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" >
                        Continue
                    </button>
                </div>

                <ul class="login-more p-t-190">
                    <li class="m-b-8">
                        <span class="txt1">
                            Forgot
                        </span>

                        <a href="#" class="txt2">
                            Username / Password?
                        </a>
                    </li>

                    <li>
                        <span class="txt1">
                            Don’t have an account?
                        </span>

                        <a class="txt2" asp-controller="Users" asp-action="Create">Register</a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

        

</body>
<footer class="border-top footer text-muted m-t28">

            <div class="container">
                &copy; 2021 - Project Medium - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>

